[Basic Data Exploration](#basic-explor)

[Bivariate analysis](#bivar)

## Course Structure

1. Module 0 - Native Data Types in Python
2. Module 1 - Intro to Pandas library & Basis Dataframe attributes
3. Module 2 - Common Data manipulation tasks using Pandas
4. Module 3 - Loops and Functions 
5. Module 4 - Visualization
6. Module 5 - Other miscellaneous topics

# Basic data types

In [ ]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [ ]:
x = [1,"b",3]

In [ ]:
x[1]

In [ ]:
student_dict = {"s_1":["IBM","TCS"],"s_2" :["HP"], "s_3":["INFOSYS","WIPRO"]}

In [ ]:
[val for k,val in student_dict.items()]

In [ ]:
x = ["abe",1,"c"]

In [ ]:
dist_ex = {"S1":["HCL","TCS"],"S2":["Benz"]}

In [ ]:
for k,v in dist_ex.items():
    if k == "S1":
        print(k)

In [ ]:
x.append("h")

In [ ]:
x

In [ ]:
tup_ex = (1,2,3,1)

In [ ]:
!pip install pandas

In [ ]:
list_ex = [1,2,3]
dist_ex = {"Age":25,"Weight":70}

tup_ex = (1,2,3,1)

In [ ]:
from pandas import read_csv

In [2]:
# read the data
import pandas as pd
import numpy as np
df = pd.read_csv("Uber Drives 2016 .csv")

In [ ]:
df = pd.read_csv("Uber Drives 2016.csv")

# Key Modules

1. Basic Dataframe operations
2. Common data manipulation tasks
3. Loops and Functions

## Basic dataframe operations

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
hasattr(df,"head")
callable(getattr(df,"head"))

In [ ]:
df.tail()

In [ ]:
df.dtypes

### Changing data types

In [ ]:
temp = pd.DataFrame({"A":["1","2","3"],"B":[11,12,13],"C": ["12-06-2012","13-06-2015","15-06-2017"]})

In [ ]:
temp.dtypes

In [ ]:
from datetime import datetime, date, time
help(datetime.strptime)

In [ ]:
# pd.to_datetime(["2001-03-15","2020-05-11"])
temp['C'] = pd.to_datetime(temp['C'])
# temp['C']
# type(temp)
# temp.dtypes
pd.to_datetime(["2016-sep-11","abc"], errors = "coerce") #to handle error

In [ ]:
temp["C"] = pd.to_datetime(temp["C"])

In [ ]:
temp["A"] = pd.to_numeric(temp["A"])

In [ ]:
temp.dtypes

In [ ]:

temp["A"] = temp["A"].astype(str)

In [ ]:
temp.dtypes

In [ ]:
# convert data to datetime format
pd.to_datetime(df["START_DATE*"],format='%m/%d/%Y %H:%M')
# Available time formats: https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior

### Dataset summarization methods

In [ ]:
df.describe(include="all")

In [ ]:
df.info()

In [ ]:
# count of unique start locations
df["START*"].value_counts().head(10)

## Common data manipulation tasks

5 verbs of data manipulation

1. Selecting/Indexing
2. Filtering
3. Sorting
4. Mutating/ Conditionally adding columns
5. Groupby/Summarize

### Select/Indexing

In [ ]:
# df.iloc[0:4,[0,3]]
# df.head()
# df.iloc[0:5,0:3]
# df.iloc[0:5,[0,3]]
# df.iloc[:,0:4]
df1= df.iloc[:,: -1] #remove last column
# df.shape
# df1.shape

In [ ]:
## Positional Indexing
df.iloc[0:4,[0,1]]

In [ ]:
# df.iloc[0:4,0:3]
# df

In [ ]:
# label based indexing
# df.loc[:,["START*","STOP*"]]
# df[["START*","STOP*"]]
# abc= df.loc[:,("START*")]
# abc= df.loc[:,["START*"]]
abc= df.loc[:,("START*","STOP*")]
# type(abc)
abc

### In Class assignment

Extract first 5 rows and columns START_DATE* and MILES*

### Filtering

In [ ]:
# df.head()

In [ ]:
# df2 = df.loc[0:4,["START_DATE*", "MILES*"]]
# df2
# df2=df["MILES*"] > 10 #it will just show the true and false in a series
# df2=df.loc[df["MILES*"] > 10,["MILES*","START*"]]
# df2=df.loc[df["START*"] =="New York",["MILES*","START*"]]
# df2=df.loc[df["START*"].isin(["Cary","New York"]),["MILES*","START*"]]

df3 = df.loc[(df["MILES*"]>10)&(df["START*"].isin(["Carry","Morrisville"]))]

df3.reset_index(inplace = True , drop = True)
# df3.drop(['index'],axis = 1)
df3

In [ ]:
df2 = df.loc[df["MILES*"] > 10,["MILES*"]]

In [ ]:
df3 = df2.loc[0:3]

In [ ]:
# find out all rides greater than 10 miles
df.loc[df["MILES*"] > 10].head()

In [ ]:
# Find out all rides to Cary
df.loc[df["START*"]=="Cary",["MILES*"]].head()

In [ ]:
# Find out all rides to Cary & Morrisville          
df[df["START*"].isin(["Cary","Morrisville"])].shape

In [ ]:
# Find out all rides to Cary & Morrisville          
df.loc[df["START*"].isin(["Cary","Morrisville"])].shape

In [ ]:
df.loc[~df["START*"].isin(["Cary","Morrisville"])].shape

#### In class assignment

1. Find all trips with distance > 10 miles and originating from Cary and Morris.

2. Extract top 3 rows from the filtered dataset

### Sorting

In [ ]:
df.sort_values(by=["MILES*"],ascending=False)

In [ ]:
df.sort_values(by=["START*", "MILES*"],ascending=[True,False])

### Conditionally adding columns

In [ ]:
import numpy as np
df["miles_cat"] = np.where(df["MILES*"] > 5,"Long Trip","Short Trip")
df["year"]

In [ ]:
df.head()

In [ ]:
df["miles_cat"].value_counts()

In [ ]:
df.loc[df["MILES*"] > 5].shape

## In class Assignment

Create a new column with the following condition:

a) > 10 - Long Trip

b) 5 - 10  - Medium

c) < 5 - Short Trip

### Groupby Summarize

In [ ]:
# df.groupby("START*")["MILES*"].agg("mean").head(20)
#df.groupby("START*").agg("mean").head(20) #it has only only one integer column
df.groupby(["START*","STOP*"])["MILES*"].agg(["mean","sum"]).head(20)

In [ ]:
# for each start loc find the mean distance travelled
df.groupby("START*")["MILES*"].agg("mean").head()

In [23]:
# for each start loc find the mean & the total dist travelled
df.groupby("START*").agg(["mean","sum"]).head()
df.head()

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
0,2016-01-01 21:11:00,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,2016-01-02 01:25:00,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,2016-01-02 20:25:00,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,2016-01-05 17:31:00,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,2016-01-06 14:42:00,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit

### In class assignment

Find most recent & the earliest travelled date and mean distance traveled for each start city

In [47]:
# df.groupby("START*")?
# df= df.iloc[: -1,:]
# df.tail()
df["START_DATE*"] = pd.to_datetime(df["START_DATE*"])
# df.dtypes
filter =df.groupby("START*").agg({"START_DATE*":["max","min"],"MILES*":["mean"]}).head()
filter.reset_index(inplace= True)
filter.columns = ["Start_City","Recent_trip","Earliest_Trip","Avg_Distance"]
filter.to_csv("filtered.csv")

## Loops and Function

In [48]:
# Basic for loop
res = []
temp = [1,2,3,4]
for i in temp:
    res.append(i*i)
res

[1, 4, 9, 16]

In [49]:
# List comprehension way

[x*x for x in temp]

[1, 4, 9, 16]

In [3]:
import pandas as pd
store_sales = pd.read_csv("store_sales.csv")

In [22]:
# store_sales.head()
# store_sales['Jan'].mean()
# store_sales.apply("mean",axis =0)
# store_sales[0].apply("mean", axis =1)
# store_sales.select_dtypes(include = ["int64","float64"]).apply("mean")
# store_sales.groupby("city").agg("mean")
store_sales.groupby("city").agg("mean")
store_sales

,store_id,city,Jan,Feb,Mar,Apr,May,Jun,July,Aug,Sep,Oct,Nov,Dec
0,S_1,Texas,8,20,13,21,17,20,24,17,16,9,7,6
1,S_2,California,12,19,15,15,11,19,7,15,10,11,21,19
2,S_3,California,16,16,14,19,23,6,13,13,15,14,24,8
3,S_4,Texas,8,18,13,10,14,14,6,8,8,18,7,11
4,S_5,Texas,19,5,24,9,5,24,10,5,24,15,6,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,S_96,Texas,7,10,20,20,10,15,15,21,15,7,23,22
96,S_97,California,13,6,7,15,22,10,21,23,10,6,12,9
97,S_98,Texas,16,9,6,14,20,13,11,10,8,22,17,22
98,S_99,Arizona,18,16,9,5,12,22,11,13,21,17,19,10
99,S_100,California,5,23,17,24,15,21,19,10,12,20,5,9

In [ ]:
# find out avg sales for each month
# find out avg sales for each store

In [56]:
import numpy as np
def bonus_func(sales_col):
    i = 10
    elig_values = np.where(sales_col > i, "eligible", "not eligible")
    
    return elig_values
    
# store_sales["jan_bonus"]=bonus_func(store_sales["Jan"])
newdf = store_sales.select_dtypes(include = ["int64", "float64"]).apply(bonus_func)
# store_sales.head()
newdf
jas= pd.concat([store_sales,newdf], axis =1)
jas["Jan"]

   Jan           Jan
0    8  not eligible
1   12      eligible
2   16      eligible
3    8  not eligible
4   19      eligible
..  ..           ...
95   7  not eligible
96  13      eligible
97  16      eligible
98  18      eligible
99   5  not eligible

[100 rows x 2 columns]

In [37]:
bonus_func([12,23,56])

TypeError: '>' not supported between instances of 'list' and 'int'

In [38]:
store_sales.iloc[:,2:].apply(bonus_func).head()

TypeError: '>' not supported between instances of 'str' and 'int'

In [ ]:
store_sales.iloc[:,2:].apply(lambda sales_numbers: ["Eligible" if x > 15 else "Not Eligible" for x in sales_numbers]).head()

In [ ]:
store_sales.columns

In [ ]:
store_sales.groupby("city").agg("mean")

### Assignments

1) Find mean quarterly sales by store

2) Find the month with highest sales for each store

## Other/Miscellaneous topics

### Missing value treatment

In [ ]:
df.isnull().sum()

In [ ]:
## Count missing values
df.isnull().sum()

In [ ]:
# Fill NA with most common values
df["PURPOSE*"].value_counts()

In [ ]:
df = df.fillna({"PURPOSE*":"Meeting"})

In [ ]:
df["PURPOSE*"].value_counts()

### Matrix operations use case

### Example 1 - compute month on month growth in sales

In [ ]:
store_sales.head()

In [ ]:
sales_mat = np.array(store_sales.iloc[:,2:])

In [ ]:
sales_mat

In [ ]:
sales_mat_lag = sales_mat[:,1:]
sales_mat_lag

In [ ]:
sales_mat_lag = sales_mat[:,1:]
sales_mat_lag = np.c_[sales_mat_lag,np.zeros(100)]

In [ ]:
sales_diff = sales_mat_lag - sales_mat

In [ ]:
perct_change = pd.DataFrame(sales_diff/sales_mat)

In [ ]:
perct_change.head()

### Example 1 - compute net revenue

In [ ]:
profit_mat = np.random.uniform(low=0.05, high=0.25, size=(100,12))

In [ ]:
## Find total annual profit for each store
profit_mat = profit_mat.transpose()

In [ ]:
profit_mat.shape

In [ ]:
prof_matrix = np.dot(sales_mat,profit_mat)

In [ ]:
prof_matrix.shape